body {
    background-image: url(imgs/image.png);
    background-repeat: no-repeat;
    background-size: 2000px;
}

#info {
    border: medium solid orange;
    background-color: lightgray;
    color: white;
    background-image: url(imgs/img2.png);
    width: 500px;
    margin-top: 10%;
    margin-left: 5%;
}