<h2 style="color: #388e3c; text-align: center;">Página principal do site</h2>

<p style="text-align: center;">Outras rotas também pode ser acessadas manualmente. :)</p>

<div class="main-buttons-container">
    <form action="/about" method="GET">
        <button class="main-btn">Página About</button>
    </form>
  <form action="/major" method="GET">
        <button class="main-btn">CRUD Majors</button>
  </form>
  <form action="/user" method="GET">
        <button class="main-btn">CRUD Users</button>
  </form>
</div>